# Ansible configuration file

[defaults]
inventory = ./inventory.yaml
roles_path = ./dot_roles:./server_roles
inject_facts_as_vars = False

[privilege_escalation]
become_method = sudo
become_user = root
