PIHOLE_PASSWORD={{ pihole_password }}
DHCP_ACTIVE={{ dhcp_active | bool | ternary('true', 'false') }}
DHCP_START={{ dhcp_start }}
DHCP_END={{ dhcp_end }}
DHCP_ROUTER={{ dhcp_router }}
DHCP_LEASE_TIME={{ dhcp_lease_time }}
PIHOLE_DOMAIN={{ pihole_domain }}

HOMELAB_ACCESS_MODE={{ homelab_access_mode }}
HOMELAB_APP_BIND={{ homelab_app_bind }}
HOMELAB_APPS={{ homelab_apps }}
HOMELAB_DOMAIN={{ homelab_domain }}
HOMELAB_ENABLE_PIHOLE_DNS={{ homelab_enable_pihole_dns | bool | ternary('true', 'false') }}
HOMELAB_TAILNET_DNS_SUFFIX={{ homelab_tailnet_dns_suffix }}
HOMELAB_TAILNET_DNS_NAMES={{ homelab_tailnet_dns_names }}

PIHOLE_IMAGE={{ container_images.pihole }}
GLANCE_IMAGE={{ container_images.glance }}
OPEN_WEBUI_IMAGE={{ container_images.open_webui }}
HERMES_IMAGE={{ container_images.hermes }}

HERMES_DASHBOARD_BASIC_AUTH_USERNAME={{ hermes_dashboard_basic_auth_username }}
HERMES_DASHBOARD_BASIC_AUTH_PASSWORD={{ hermes_dashboard_basic_auth_password }}
HERMES_DASHBOARD_BASIC_AUTH_SECRET={{ hermes_dashboard_basic_auth_secret }}
