[user]
	name = yanklio
	email = y.ustinov2004@gmail.com

[core]
	editor = nvim

[init]
	defaultBranch = main

[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	unstage = reset HEAD --
	last = log -1 HEAD
	visual = log --graph --oneline --decorate --all

[pull]
	rebase = false

[push]
	default = simple
