services:
  open-webui:
    image: {{ openwebui_image }}
    network_mode: host
    environment:
      HOST: "{{ openwebui_bind }}"
      PORT: "{{ openwebui_port }}"
      OLLAMA_BASE_URL: "{{ openwebui_ollama_base_url }}"
      WEBUI_NAME: "{{ openwebui_name }}"
      ENABLE_RAG_WEB_LOADER_SSL_VERIFICATION: "{{ openwebui_enable_rag_web_loader_ssl_verification | string }}"
      RAG_EMBEDDING_ENGINE: "{{ openwebui_rag_embedding_engine }}"
    volumes:
      - ../../state/open-webui/data:/app/backend/data:z
      - ../../store/models/sentence-transformers:/app/backend/data/cache/embedding/models:z
      - ../../store/models/tiktoken:/app/backend/data/cache/tiktoken:z
      - ../../store/models/whisper:/app/backend/data/cache/whisper/models:z
    restart: unless-stopped
